body {
  background-color: ##DDDDDD;
  color: #494949;
  font-size: 100%;
  line-height: 1.5;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
  font-size: 1.2em;
}

a:link { color:#D3D3D3; } /* unvisited */
a:visited { color:#F2F2F2; } /* visited */
a:hover { color:#FFFFFF; } /* mouse over */
a:active { color:#E5E5E5; } /* selected */

a {
  text-decoration: none;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.8;
}

h3 {
  font-size: 1.3em;
  line-height: 1.2;
}

.author {
  font-style: italic;
  line-height: 3;
}
